<div class="container">
    <div class="row-fluid">
        <h1 class="text-center">{{character.name}}</h1>
        <div class="span12">
            <img src="{{character.imgSrc}}" class="img-polaroid" class="span4" />
            <div class="span7 pull-right">
                <p>{{character.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <h1 class="text-center">{{character.name}}</h1>
        <div class="span12">
            <img src="{{character.imgSrc}}" class="img-polaroid" class="span4" />
            <div class="span7">
                <p>ID : {{character.id}}</p>
                <p>Comics : {{character.comics}}</p>
                <p>Series : {{character.series}}</p>
                <p>Stories : {{character.stories}}</p>
            </div>
            <div class="span7 pull-right">
                <p>{{character.description}}</p>
            </div>
        </div>
    </div>
</div>